.contact-page {
    padding: 2rem;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .contact-heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .contact-heading h1 {
    font-size: 36px;
    color: rgb(210, 0, 0);;
  }
  
  .contact-heading p {
    font-size: 18px;
    color: #666;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(210, 0, 0);;
    max-width: 600px;
    margin: 0 auto 2rem auto;
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    color: rgb(210, 0, 0);;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .submit-btn {
    background-color: rgb(210, 0, 0);;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 1rem;
  }
  
  .submit-btn:hover {
    background-color: rgb(210, 0, 0);;
  }
  
  .contact-info {
    text-align: center;
  }
  
  .contact-info h2 {
    font-size: 24px;
    color: rgb(210, 0, 0);;
    margin-bottom: 1rem;
  }
  
  .contact-details p {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .contact-details a {
    color:rgb(210, 0, 0);
    text-decoration: none;
  }
  
  .contact-details a:hover {
    text-decoration: underline;
  }
  
  .contact-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-details ul li {
    margin: 8px 0;
  }
  /* Social Media Section Styling */
.social-media-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Ensures it takes full available height */
  }
  
  .social-media-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .social-icons a {
    color: #333;
    font-size: 36px;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: rgb(210, 0, 0); /* Hover color for icons */
  }
  