
.prediction-page {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.prediction-header {
  text-align: center;
  margin-bottom: 20px;
}

.prediction-title {
  font-size: 2em;
  margin: 0;
  color: #333;
}

.prediction-subtitle {
  font-size: 1.2em;
  color: #666;
}

.prediction-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

.prediction-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.prediction-table th, .prediction-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.prediction-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.driver-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
  font-size: 1em;
}

.driver-select:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.ended-text {
  color: red;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.start-stop-button,
.save-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-stop-button {
  background-color: #4caf50;
  color: #fff;
}

.start-stop-button:hover {
  background-color: #45a049;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.save-button:hover {
  background-color: #0056b3;
}

.score-container {
  margin-top: 20px;
  text-align: center;
}

.score-container h2 {
  font-size: 1.5em;
  color: #333;
}

.saved-predictions {
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.saved-predictions h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #333;
}

.saved-predictions ul {
  list-style-type: none;
  padding: 0;
}

.saved-predictions li {
  margin: 10px 0;
  font-size: 1.1em;
  color: #555;
}

.saved-predictions li strong {
  color: #333;
}

.driver-photo {
  margin-top: 20px;
  width: 500px;
  text-align: center;
}

.driver-photo img {
  width: 10px; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: inline-block;
}

.driver-photo h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333; 
}

.driver-photo-container {
  text-align: center;
}

.prediction-history-container {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid #ccc;
}

.prediction-history-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.prediction-history-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

.prediction-history-table th, 
.prediction-history-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.prediction-history-table th {
  background-color: #f4f4f4;
}
